
<app-nav-bar></app-nav-bar>

<div class="card m-5 shadow-sm border border-success" style="">
    <div class="row g-0">
      <div class="col-md-4 shadow-sm">
        <img src="assets\logo.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8 mt-5">
        <div class="card-body ">
          <h1 class="card-title text-success">Welkommen </h1>
          <h2 class="card-text">Ihre Dashboard zeigt Ihnen Ihre Information</h2>
          <br>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Name: </li>
            <li class="list-group-item">Klass: </li>
            <li class="list-group-item">Lehrer: </li>
            <li class="list-group-item">Sport: </li>
            <li class="list-group-item">And a fifth one</li>
          </ul>
          <button class="btn-success">Lehrer-Contact</button>

          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
