.nv{background-color: rgb(255, 206, 127) !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
.nav-link:hover{
    background-color: seagreen;
    color: white !important;
}